---

---

<html lang="cs">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Czech Stack</title>
  </head>
  <body>
    <h1>Czech Stack</h1>
  </body>
</html>
